################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

bin/
obj/
/.vs
/DRsoft.Application/Engine/bin
/DRsoft.Application/Engine/obj
/DRsoft.Application/PTP_AlignmentTool/bin
/DRsoft.Application/PTP_AlignmentTool/obj
/DRsoft.Bussiness/DRsoft.Engine.Control/obj
/DRsoft.Bussiness/DRsoft.Engine.Coords/bin
/DRsoft.Bussiness/DRsoft.Engine.Coords/obj
/DRsoft.Bussiness/DRsoft.Engine.Coords/bin
/DRsoft.Modeling/DRsoft.Modeling/bin
/DRsoft.Modeling/DRsoft.Modeling/obj
/DRsoft.Modeling/DRsoft.Modeling.Controls/bin
/DRsoft.Modeling/DRsoft.Modeling.Controls/obj
/DRsoft.Modeling/DRsoft.Modeling.Handlers/bin
/DRsoft.Modeling/DRsoft.Modeling.Handlers/obj
/DRsoft.Modeling/DRsoft.Modeling.Metadata/obj
/DRsoft.Modeling/DRsoft.Modeling.Metadata/bin
/DRsoft.Modeling/DRsoft.Modeling.Model/bin/Debug/net6.0-windows
/DRsoft.Modeling/DRsoft.Modeling.Model/obj
/DRsoft.Modeling/DRsoft.Modeling.Model/bin
/DRsoft.Runtime/DRsoft.Application/Engine/bin/Debug/net6.0-windows
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Common/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Common/bin/Debug/net6.0-windows
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Common/obj
/DRsoft.Runtime/DRsoft.Runtime.Plugins/DRsoft.Runtime.Plugin.CameraBalser/bin
/DRsoft.Runtime/DRsoft.Runtime.Plugins/DRsoft.Runtime.Plugin.CameraBalser/bin/Debug/net6.0-windows
/DRsoft.Runtime/DRsoft.Runtime.Plugins/DRsoft.Runtime.Plugin.CameraBalser/obj
/DRsoft.Runtime/DRsoft.Runtime.Plugins/DRsoft.Runtime.Plugin.CameraHikvision/bin
/DRsoft.Runtime/DRsoft.Runtime.Plugins/DRsoft.Runtime.Plugin.CameraHikvision/bin/Debug/net6.0-windows
/DRsoft.Runtime/DRsoft.Runtime.Plugins/DRsoft.Runtime.Plugin.CameraHikvision/obj

/DRsoft.Bussiness/DRsoft.Engine.Plugin.PlcAdsAdapter/DRsoft.Engine.Plugin.PlcAdsAdapter/obj
/DRsoft.Bussiness/DRsoft.Engine.Plugin.PlcAdsAdapter/DRsoft.Engine.Plugin.PlcAdsAdapter/bin
/DRsoft.Bussiness/DRsoft.Engine.Plugin.PlcAdsAdapter/DRsoft.Engine.Plugin.PlcAdsAdapter/bin/Debug/net6.0-windows

/DRsoft.Bussiness/DRsoft.Engine.Plugin.PlcPviAdapter/DRsoft.Engine.Plugin.PlcPviAdapter/obj
/DRsoft.Bussiness/DRsoft.Engine.Plugin.PlcPviAdapter/DRsoft.Engine.Plugin.PlcPviAdapter/bin
/DRsoft.Bussiness/DRsoft.Engine.Plugin.PlcPviAdapter/DRsoft.Engine.Plugin.PlcPviAdapter/bin/Debug/net6.0-windows

bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Configuration/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Configuration/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.EventBus/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.EventBus/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Language/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Language/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Log4net/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Log4net/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Platform/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Platform/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ProxyGenerator/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ProxyGenerator/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ScheduleHangfire/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ScheduleHangfire/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ScheduleQuartz/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ScheduleQuartz/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ScheduleTask/bin
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.ScheduleTask/obj


bin
obj
obj
/Engine.v11.suo
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Platform/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.SimulateMemory/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.Platform/obj
/DRsoft.Runtime/DRsoft.Runtime.Core/DRsoft.Runtime.Core.SimulateMemory/obj
/.idea
/.vscode/
.vscode/
/.vs
/DRsoft.Application/Engine/_metadata.zip
