<?xml version="1.0" encoding="utf-8"?>
<Langs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="3EA823B0-B6D5-E711-9BCA-6C4B90333947" application="0000" MetadataStatus="Product" MetadataVersion="6" CreatedBy="admin" CreatedOn="2022-06-17T18:10:33.7579094+08:00" ModifiedBy="系统管理员" ModifiedOn="2022-06-16T16:48:05.6753963+08:00">
</Langs>