<?xml version="1.0" encoding="utf-8"?>
<RecipeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="C8930820-2B7A-9439-9F04-CFF721DE0822" MetadataVersion="6" MetadataStatus="Product" CreatedBy="admin" CreatedOn="2022-06-17T17:28:11.145+08:00" ModifiedOn="2023-01-16T10:41:37.3653916+08:00">
</RecipeConfig>