<?xml version="1.0" encoding="utf-8"?>
<VisionCalibrationConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="ff5bbb55-f312-4f99-9188-8a63c434fc98" MetadataVersion="6" MetadataStatus="Product" CreatedOn="0001-01-01T00:00:00" ModifiedOn="2023-04-04T16:13:41.0531907+08:00">
    <IpAddress />
    <Port>0</Port>
    <CameraParaVisionSend>
        <Midexposure>0</Midexposure>
        <Aexposure>0</Aexposure>
        <Bexposure>0</Bexposure>
        <Cexposure>0</Cexposure>
        <Dexposure>0</Dexposure>
        <midgain>0</midgain>
        <Again>0</Again>
        <Bgain>0</Bgain>
        <Cgain>0</Cgain>
        <Dgain>0</Dgain>
        <InCheck>0</InCheck>
        <EnableSaveNG>0</EnableSaveNG>
        <Mcheck>0</Mcheck>
        <MarkType>0</MarkType>
        <EnableWork>0</EnableWork>
        <MarkWith>0</MarkWith>
        <MarkHeight>0</MarkHeight>
        <minAccBlob>0</minAccBlob>
        <minAccLine>0</minAccLine>
        <Thre>0</Thre>
        <roisize>0</roisize>
    </CameraParaVisionSend>
</VisionCalibrationConfig>