<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dblink" value="C:\Users\admin\Desktop\新建文件夹"/>
		<add key="dblink2" value="D:\0306\P板电子看板-4\上位机\Debug"/>
		<add key="首页产量机型" value="IO信号器1"/>
		<add key="螺钉机焊锡机状态地址" value="200.10"/>
		<add key="螺钉机焊锡机报警地址" value="200.1"/>
		<add key="螺钉机产量地址" value="272"/>
		<add key="接驳台触发地址" value="270.1"/>
		<add key="接驳台配方地址" value="272"/>
		<add key="IO信号器脉冲地址" value="304"/>
	</appSettings>
</configuration>